.input {
    font-size: 16px;
    font-family: Arial, serif;
    background-color: azure;
    width: 100%;
}

.header {
    font-family: Arial, serif;
    color: black;
    font-size: 30px;
    text-align: center;
}

.button {
    font-size: 16px;
    background-color: aqua;
    border-radius: 8px;
    color: beige;
    font-family: Arial, serif;
    width: 100%;
}

.switch-button {
    font-size: 16px;
    background-color: coral;
    border-radius: 8px;
    color: beige;
    display: inline-block;
    font-family: Arial, serif;
    width: 100%;
}

.block {
    margin-top: 10px;
}